<p style="font-weight: bold;">Olá, {{ owner }}.</p>
<p>O usuário <strong>{{ user }}</strong> se inscreveu em seu meetup <strong>{{ meetupTitle }}</strong>, que irá ocorrer
  no dia {{ meetupDate }}.</p>
<p>Caso precise entrar em contato, utilize o email <a href="mailto:{{ userEmail }}">{{ userEmail }}</a></p>
